{% extends 'admin_panel/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="p4">

    <div class="uper">
        <div class="models sp">
            <h1 style="" class="hme">التبرعات المكتملة</h1>
        </div>

    </div>
    <br>


    <form  method="GET" class="models">
        <div class="input-group  ds" style="width: 30% !important;">
          <button class="btn btn-outline-secondary"name="dt" id="button-addon1">تصفية</button>
          <input type="date" required class="form-control"name="data_as"  placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"value="{{data_as}}">
        </div>
    </form>
    {% if  day_donations %}
        <div class="models sp">
            <h5 style="margin-top: 50px;" class="hme" >التبرعات الذين تم تسجيلهم في تاريخ {{data_as}}</h5>
        </div>
        <table class="table table-hover" style="width: 100%; margin-top: 0px;">
            <thead>
                <tr>
                    <th style="width: 10%;"><center>تاريخ التبرع</center></th>
                    <th style="width: 10%;"><center>اسم المستفيد</center></th>
                    <th style="width: 10%;"><center>رقم المستفيد</center></th>
                    <th style="width: 10%;"><center>نقطة التبرع</center></th>
                    <th style="width: 20%;"><center>تفاصيل التبرع</center></th>
                    <th style="width: 10%;"><center> رقم التبرع</center></th>
                    <th style="width: 5%;"><center>الرقم</center></th>
                </tr>
              </thead>
            <tbody id="output1" style="width: 100%;">
                {% for donation in day_donations %}
                <tr dir="rtl"> 
                    <td style=" text-align:center; width: 10%;">{{donation.entry_date|date:"m-d"}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.beneficiary.name}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.beneficiary.id}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.donation.delivery_point_c.name}}</td>
                    <td style=" text-align:center; width: 20%;">{{donation.donation.bio}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.donation.id}}</td>
                    <td style=" text-align:center; width: 5%;">{{donation.id}}</td>
                </tr>                 
            {% endfor %}
                
            </tbody>
        </table>
    {% endif %}

    <table class="table table-hover" style="width: 100%; margin-top: 50px;">
        <thead>
            <tr>
                <th style="width: 10%;"><center>تاريخ التبرع</center></th>
                <th style="width: 10%;"><center>اسم المستفيد</center></th>
                <th style="width: 10%;"><center>رقم المستفيد</center></th>
                <th style="width: 10%;"><center>نقطة التبرع</center></th>
                <th style="width: 20%;"><center>تفاصيل التبرع</center></th>
                <th style="width: 10%;"><center> رقم التبرع</center></th>
                <th style="width: 5%;"><center>الرقم</center></th>
            </tr>
          </thead>
        <tbody id="output1" style="width: 100%;">
            {% for donation in donations %}
                <tr dir="rtl"> 
                    <td style=" text-align:center; width: 10%;">{{donation.entry_date|date:"m-d"}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.beneficiary.name}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.beneficiary.id}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.donation.delivery_point_c.name}}</td>
                    <td style=" text-align:center; width: 20%;">{{donation.donation.bio}}</td>
                    <td style=" text-align:center; width: 10%;">{{donation.donation.id}}</td>
                    <td style=" text-align:center; width: 5%;">{{donation.id}}</td>
                </tr>                  
            {% endfor %}
            
        </tbody>
    </table>


    <br>


</div>

{% endblock body %}
