{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/product-swiper.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}">  {% endcomment %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% include 'nav.html' %}

{% block css %}

{% endblock css %}

{% block body %}

{% endblock body %}

{% include 'footer.html' %}
{% comment %} <script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
{% comment %} <script src="{% static 'js/swiper-bundle.min.js' %}"></script> {% endcomment %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% comment %} <script src="{% static 'js/swiper-bundle.min.js' %}"></script> {% endcomment %}
